@model IEnumerable<TP.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestão de Funcionários</h1>

<p>
    <a asp-action="Create">Novo Funcionário</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.listaFunc)
        {
            <tr>
                <td>
                    @item.email
                </td>
            </tr>
        }
    </tbody>
</table>
